head
  meta(charset='utf-8')
  title The New Design Congress

  meta(name='author' content='The New Design Congress')
  meta(name='description' content='A research organisation that recognises all infrastructure as expressions of power, and sees interfaces and technologies as social, economic, political and ecological accelerants.')
  meta(name='keywords' content='new design congress, research, critical theory, workshops, digital security, privacy, operational security, consulting, infrastructure, politics')
  meta(name='robots' content='index,follow')
  meta(http-equiv="refresh" content="2;url=https://newdesigncongress.org/en/")
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(http-equiv='cleartype' content='on')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=yes')
  link(rel='stylesheet' href='/assets/css/minireset.min.css')
  link(rel='stylesheet' href='/assets/css/ndc.css')

!=yield